.flex, .flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col, .flex-column, .flex-down {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.align-center, .center-align {
  display: flex;
  align-items: center;
}

.align-bottom, .align-end {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-bottom, .justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-shrink { flex-shrink: 1; }
.flex-grow { flex-grow: 1; }
