// Regular margin
.margin {
  margin: .4em;
}

.margin-rl {
  margin-right: .4em;
  margin-left: .4em;
}

.margin-tb {
  margin-top: .4em;
  margin-bottom: .4em;
}

// Large margin
.margin-lg {
  margin: 1em;
}

.margin-lg-rl {
  margin-right: 1em;
  margin-left: 1em;
}

.margin-lg-tb {
  margin-top: 1em;
  margin-bottom: 1em;
}

// Small margin
.margin-sm {
  margin: .2em;
}

.margin-sm-rl {
  margin-right: .2em;
  margin-left: .2em;
}

.margin-sm-tb {
  margin-top: .2em;
  margin-bottom: .2em;
}
