.text-xl {
  font-size: 28px;
}

.text-lg {
  font-size: 24px;
}

// medium-large
.text-ml {
  font-size: 20px;
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-sentance {
  &::first-letter {
    text-transform: capitalize;
  }
}

.text-allcaps {
  text-transform: capitalize;
}
